.contactWrapper {
  @apply relative flex flex-col 
  items-center mx-auto
   md:w-[70%] w-[90%] md:max-w-[48rem];
}

.group {
  @apply w-full flex flex-col relative;
}
.group:not(:last-of-type) {
  @apply mb-8;
}
.input--label {
  @apply relative text-base font-normal mb-1 capitalize;
}
.input--field {
  @apply py-2 w-full px-3 text-lg focus:outline-none border-b border-portfolio_grey_dark 
focus:border-portfolio_blue
   focus:placeholder:text-transparent;

  /* invalid:border-pink-500 invalid:text-pink-600
  focus:invalid:border-pink-500 focus:invalid:ring-pink-500; */
}

/* .input--field:not(.input--field.error) ~ .input--border,
textarea.input--field:not(textarea.input--field.error) ~ .input--border {
  @apply absolute bottom-7 left-0 right-0 h-[2px]
  w-0 bg-transparent border-b border-portfolio_blue
  translate-x-1/2;
  transition: width 0.5s, transform 0.3s;
}

.input--field:focus:not(.input--field.error) ~ .input--border {
  @apply w-full translate-x-0;
} */

.input--field.error {
  @apply border-portfolio_error placeholder:text-portfolio_error;
}
.error-msg {
  @apply text-portfolio_error text-sm;
}

/* .input--field {
  @apply block;
} */

/* .input--required::after {
  content: "*";
  position: absolute;
  color: red;
  rigt: 0;
  top: 0;
} */
