.image-wrapper {
  @apply max-w-[calc(100%*0.7)] 
  
  lg:max-w-[calc(100%*0.5)] w-auto overflow-hidden;
  flex: 1 1 180px;
}

.image-wrapper > img {
  @apply w-auto h-full;
  /* filter: saturate(1) brightness(0.9); */
  mix-blend-mode: multiply;
  object-fit: contain;
  object-position: center;
}

.wrapper {
  @apply w-[3rem] h-[3rem] sm:w-[4rem] sm:h-[4rem] lg:w-[7rem] lg:h-[7rem]
    flex flex-col gap-y-0 md:gap-y-2  items-center justify-around m-2 xs:m-4 md:m-4
    font-medium text-base leading-5 text-center transition duration-300;
}

.wrapper > span {
  @apply text-[0.6rem]  sm:text-xs lg:text-sm;
}

.wrapper:hover {
  @apply scale-110;
}
