.skillCard-image-wrapper {
  @apply max-w-[calc(100%*0.7)] 
  
  lg:max-w-[calc(100%*0.5)] w-auto overflow-hidden;
  flex: 1 1 180px;
}

.skillCard-image-wrapper > img {
  @apply w-auto h-full;
  /* filter: saturate(1) brightness(0.9); */
  mix-blend-mode: multiply;
  object-fit: contain;
  object-position: center;
}

.skillCard-wrapper {
  @apply w-[5rem] h-[5rem] lg:w-[7rem] lg:h-[7rem]
    flex flex-col gap-y-2 items-center justify-around m-4
    font-medium text-base leading-5 text-center
    transition-all duration-300;
}
.skillCard-wrapper:hover {
  @apply scale-110;
}
