.container {
  @apply fixed top-0 w-full left-0 z-[99] 
  transition-all duration-300
  ease-[cubic-bezier(.14,.55,.54,1.21)];
  /* bg-portfolio_white */
}

.hidden-container {
  @apply -top-full 
  duration-300
  ease-[cubic-bezier(.21,-0.36,1,.85)];
}

.nav-container {
  @apply mx-auto w-[calc(95vw)] lg:w-[calc(80vw)]

  flex items-center justify-between py-6;
}

.navbar-navigation {
  @apply hidden 
  font-semibold text-portfolio_grey_light/90
  md:flex flex-row items-center gap-12 text-lg;
}

/* hide/reveal navigation on scroll */
.is-hidden {
  transform: translateY(-101%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.is-hidden li.navigation-item {
  transform: translateY(-101%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
}

/* mobile navigation */
.mobile {
  @apply fixed top-0 left-0 w-screen h-screen
  md:hidden
  


  overflow-hidden

 z-[9999];
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}

.navbar--mobile-closed {
  @apply -translate-x-full;
}

.navbar--mobile-open {
  @apply translate-x-0;
}
.navbar-navigation--mobile {
  @apply grid-flow-row
  auto-rows-max gap-y-14 text-2xl;
  font-weight: 400;
}

.navbar-navigation--mobile li:not(:last-child) {
  @apply mb-[1rem];
}

/* menu items */
.navigation-item {
  @apply text-current relative text-center;
  transform: translateY(-100px);
}
.navigation-item-visible {
  transform: translateY(0px);
}

.navigation-link {
  @apply px-0.5 inline-block overflow-hidden align-middle;
}

.navigation-item:after,
.navigation-item:before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  border-radius: 9999px;
  height: 0.12rem;
  transition: width 0.6s cubic-bezier(0.5, 0, 0, 1);
  /* transform 0.5s cubic-bezier(0.5, 0, 0, 1) */
}
.navigation-item:hover {
  @apply text-portfolio_blue transition-all duration-300;
}
.navigation-item:after {
  @apply bg-portfolio_blue;
  z-index: 99;
  transition: width 0.6s cubic-bezier(0.5, 0, 0, 1);
}

.navigation-item:before {
  @apply bg-portfolio_grey_dark;
  z-index: 98;
  transition: width 0.2s cubic-bezier(0.5, 0, 0, 1);
  /* transform 0.5s cubic-bezier(0.5, 0, 0, 1) */
}

.navigation-item:hover:after {
  width: 100%;
}
.navigation-item:hover:before {
  width: 100%;
}
.navigation-item--active:before,
.navigation-item--active:after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  border-radius: 9999px;
  height: 0.1rem;
  background: #dcfdd8;
  z-index: 99;
  transition: width 0.6s cubic-bezier(0.5, 0, 0, 1);
}
