.container {
  @apply fixed top-0 w-full left-0 z-[99] 
  transition-all duration-300
  bg-portfolio_white
  ease-[cubic-bezier(.14,.55,.54,1.21)];

  /* bg-portfolio_white */
}

.hidden-container {
  @apply -top-full 
  duration-300
  ease-[cubic-bezier(.21,-0.36,1,.85)];
}

.nav-container {
  @apply mx-auto w-[calc(95vw)] lg:w-[calc(80vw)]
  border-b-[0.07rem] border-portfolio_blue px-4
  flex items-center justify-between py-5;
}

.navbar-navigation {
  @apply hidden 
  font-semibold text-portfolio_grey_light/90
  md:flex flex-row items-center gap-12 text-lg;
}

/* hide/reveal navigation on scroll */
.is-hidden {
  @apply bg-none;
  transform: translateY(-101%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.is-hidden li.navigation-item {
  transform: translateY(-101%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
}

/* menu items */
.navigation-item {
  @apply text-current relative text-center;
  transform: translateY(-100px);
}
.navigation-item-visible {
  transform: translateY(0px);
}

.navigation-link {
  @apply px-0.5 inline-block overflow-hidden align-middle;
}

.navigation-item:after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  border-radius: 9999px;
  height: 0.12rem;
  transition: width 0.6s cubic-bezier(0.5, 0, 0, 1);
  /* transform 0.5s cubic-bezier(0.5, 0, 0, 1) */
}
.navigation-item:hover {
  @apply text-portfolio_blue transition-all duration-300;
}
.navigation-item:after {
  @apply bg-portfolio_blue;
  z-index: 99;
  transition: width 0.6s cubic-bezier(0.5, 0, 0, 1);
}

.navigation-item:hover:after {
  width: 100%;
}
.navigation-item--active {
  @apply text-portfolio_blue;
}
.navigation-item--active:after {
  @apply bg-portfolio_blue absolute content-[""] 
  -bottom-1 w-full rounded-full h-[0.15rem] z-[99];

  transition: width 0.6s cubic-bezier(0.5, 0, 0, 1);
}
