.contactWrapper {
  @apply gap-y-4 flex flex-col;
}

.input-wrapper {
}
.input--label {
  @apply relative text-sm font-medium text-inherit;
}
.input--field {
  @apply mt-4 w-full px-3 py-2 border-secondaryGreen text-sm placeholder-slate-400 bg-secondaryGreen/40 rounded-xl
  focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-secondaryGreen
  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
  invalid:border-pink-500 invalid:text-pink-600
  focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
}
/* .input--field {
  @apply block;
} */

.input--required::after {
  content: "*";
  position: absolute;
  color: red;
  rigt: 0;
  top: 0;
}
