.image-wrapper {
  @apply rounded-md overflow-hidden max-h-[calc(100vh*0.8)] shadow-lg shadow-primaryGreen/40;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.image-wrapper > img {
  filter: saturate(0.2) brightness(0.9);
  mix-blend-mode: multiply;
  object-fit: cover;
  object-position: bottom;
}
